<!DOCTYPE html>
<html ng-app>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
    <script src="../js/controller/JobController.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</head>
<body ng-controller='JobController'>
<div class="container-fluid">
    <div class="row-fluid">
        <table class="table">
            <tr ng-repeat="instance in jobs.job.jobInstances">
                <td>{{instance.resource}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>

