<!DOCTYPE html>
<html class="ng-app" xmlns:ng="http://angularjs.org" id="ng-app" ng-app>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lte IE 8]>
    <script src="../js/ie8/json2.js"></script>
    <script>
        // document.createElement('ng-change');
        // document.createElement('ng-model');
        // document.createElement('ng-repeat');
    </script>
    <![endif]-->

    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/controller/TicketHeaderController.js"></script>
    <script src="../js/bootstrap.min.js"></script>


</head>
<body ng-controller='TicketHeaderController'>
    <div class="container-fluid">
        <div class="row-fluid">
           <div class="span12"><h1>Ticket Header</h1></div>
        </div>
        <div ng-repeat="ticketHeader in ticketHeaders">
            <div class="row-fluid"><div class="span12">Type: {{ticketHeader.type}}</div></div>
            <div class="row-fluid"><div class="span12">Number: {{ticketHeader.ticketNumber}}</div></div>
            <div class="row-fluid"><div class="span12">Date: {{ticketHeader.ticketDate | date}}</div></div>
            <div class="row-fluid"><div class="span12">Customer: {{ticketHeader.customer}}</div></div>
            <div class="row-fluid"><div class="span12">Total Amount: {{ticketHeader.totalAmount | currency}}</div></div>

            <div  class="row-fluid" ng-repeat="ticketDetail in ticketHeader.ticketDetails" ng-click='selectTicketDetail($index)' >
                <div class="span2"><input ng-model="ticketDetail.dateWorked"></div>
                <div class="span2"><input ng-model="ticketDetail.lineNumber"></div>
                <div class="span2"><input ng-change="changeQty(ticketHeader.ticketDetail)" ng-model="ticketDetail.qty"></div>
                <div class="span2"><input ng-model="ticketDetail.jdeNumber"></div>
                <div class="span2"><button class="btn btn-danger" ng-click="remove(ticketHeader, $index)"><i class="icon-remove icon-white"></i> Remove</button> </div>
            </div>

            <div class="row-fluid"><div class="span12">Total Quantity: {{totalTicket(ticketHeader)}}</div></div>
            <div class="row-fluid"><div class="span12"><button class="btn btn-primary" ng-click="add(ticketHeader)"><i class="icon-plus-sign icon-white"></i> Add</button></div></div>
        </div>
    </div>

    <h1>Employee Totals</h1>
    <table>
        <tbody>
            <tr>
                <td ng-repeat="jdeNumb in jdeNumbers">Employee: {{jdeNumb}}</td>
            </tr>
            <tr>
               <td ng-repeat="qty in hours">Hours: {{qty}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
