<div ng-controller="TicketController">
    <form name="EmployeesList">
        <accordion close-others="oneAtATime">
            <accordion-group heading="Customer: {{ticketHeader.customer}}" ng-repeat="ticketHeader in ticketHeaders">
                <table border=1>
                    <tr><td>Type:</td><td>TicketNumber:</td><td>TicketDate:</td><td>Total Amount:</td></tr>
                    <tr>
                        <td>{{ticketHeader.type}}</td>
                        <td>{{ticketHeader.ticketNumber}}</td>
                        <td>{{ticketHeader.ticketDate | date}}</td>
                        <td>{{ticketHeader.totalAmount}}</td>
                    </tr>
                    <tr><td>Date Worked:</td><td>Line Number</td><td>Qty</td><td>jdeNumber</td></tr>
                    <tr ng-repeat="ticketDetail in ticketHeader.ticketDetails">
                        <td>{{ticketDetail.dateWorked | date}}</td>
                        <td>{{ticketDetail.lineNumber}}</td>
                        <td>{{ticketDetail.qty}}</td>
                        <td>{{ticketDetail.jdeNumber}}</td>
                    </tr>
                </table>
            </accordion-group>
        </accordion>
    </form>
</div>