<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="myApp">
<head>
    <!--[if lte IE 8]>
    <script src="js/ie8/json2.js"></script>
    <script>
        document.createElement('tabs');
        document.createElement('pane');
        document.createElement('accordion');
        document.createElement('accordion-group');
    </script>
    <![endif]-->

    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

    <style>
            /*
             CSS rules to use for styling the overlay:
             */
               .chromeFrameOverlayContent
               .chromeFrameOverlayContent iframe
               .chromeFrameOverlayCloseBar
               .chromeFrameOverlayUnderlay
            /* */
    </style>

    <script>
        // You may want to place these lines inside an onload handler
        CFInstall.check({
            mode: "overlay",
            destination: "http://www.waikiki.com"
        });
    </script>

    <!-- angular -->
    <script type="text/javascript" src="js/angular.js"></script>
    <!-- angular bootstrap UI -->
    <script src="js/ui-bootstrap-tpls-0.2.0.js"></script>
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <!-- ng-grid -->
    <link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/ng-grid-2.0.4.debug.js"></script>
    <!-- control demo specific -->
    <script type="text/javascript" src="js/custom-demo.js"></script>
    <link rel="stylesheet type="text/css" href="css/custom-demo.css" />
</head>


<body ng-controller="TicketController" onLoad="CFInstall.check({mode: 'overlay', destination: 'http://www.waikiki.com'});">
    <div ng-controller="TicketController" style="height: 100%;">
        <tabs>
            <pane heading="Employees">
                <form name="EmployeesList">
                    <accordion close-others="oneAtATime">
                        <accordion-group heading="Ticket Number: {{ticketHeader.ticketNumber}}" ng-repeat="ticketHeader in ticketHeaders">
<!--
                            <table border=1>
                                <tr><td>Type:</td><td>TicketNumber:</td><td>TicketDate:</td><td>Total Amount:</td></tr>
                                <tr>
                                    <td>{{ticketHeader.type}}</td>
                                    <td>{{ticketHeader.ticketNumber}}</td>
                                    <td>{{ticketHeader.ticketDate | date}}</td>
                                    <td>{{ticketHeader.totalAmount}}</td>
                                </tr>
                                <tr><td>Date Worked:</td><td>Line Number</td><td>Qty</td><td>jdeNumber</td></tr>
                                <tr ng-repeat="ticketDetail in ticketHeader.ticketDetails">
                                    <td>{{ticketDetail.dateWorked | date}}</td>
                                    <td>{{ticketDetail.lineNumber}}</td>
                                    <td>{{ticketDetail.qty}}</td>
                                    <td>{{ticketDetail.jdeNumber}}</td>
                                </tr>
                            </table>
-->
                            <div class="gridStyle" ng-grid="gridOptions"></div>

                        </accordion-group>
                    </accordion>
                </form>
            </pane>
            <pane heading="Details">
                <div class="gridStyle" ng-repeat="gridDetailOptions in gridDetailOptionsSet" ng-grid="gridDetailOptions" ><BR/></div>
            </pane>
            <pane heading="Job Details" active="true">
                <b>jobs</b> <span>resource: {{jobs.jobs.resource}}</span>
                <!--<div class="gridStyle" ng-grid="jobOptions"></div><BR/>-->
            </pane>
            <!--<pane ng-repeat="pane in panes" heading="{{pane.title}}" active="pane.active">{{pane.content}}</pane>-->
        </tabs><BR/><BR/>
<!--
        <div class="row-fluid">
            <button class="btn" ng-click="panes[0].active = true">Select second tab</button>
            <button class="btn" ng-click="panes[1].active = true">Select third tab</button>
        </div>
-->
    </div>
    <div id="pane2content" hidden="true">
    </div>
    <div class="gridStyle" ng-grid="jobDetailsOptionsSet" ><BR/></div>

</body>
</html>